In [2]:
import pandas as pd 
import numpy as np
import polars as pl

c:\Users\Leonce Nshuti\miniconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\Leonce Nshuti\miniconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
c:\Users\Leonce Nshuti\miniconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
usa_df = pd.read_csv('What did United States of America export in 2020_.csv')

In [5]:
# sort by Share 
usa_df = usa_df.sort_values(by='Share', ascending=False)

# get top 10
usa_df = usa_df.head(10)
usa_df

,Name,Gross Export,Share,Code,Sector
1220,ICT,411356004352,19.349264,ict,Services
1221,Insurance and finance,164774002688,7.750600,financial,Services
1217,Commodities not specified according to kind,99046727680,4.658936,9999,Other
1218,Travel and tourism,72812003328,3.424913,travel,Services
256,"Petroleum oils, refined",58943705088,2.772580,2710,Minerals
1219,Transport,56705003520,2.667276,transport,Services
255,"Petroleum oils, crude",48737878016,2.292521,2709,Minerals
1075,Electronic integrated circuits,44789907456,2.106817,8542,Electronics
1093,Cars,44460650496,2.091329,8703,Vehicles
257,Petroleum gases,32576303104,1.532316,2711,Minerals